<div style="margin-left: 50px; margin-right: 50px; text-align: center;">
    <br>
    <a routerLink="/" class="button button-primary" style="padding: auto;"> Go home </a>
    <br><br>


    <div align="center">
   <p><strong>COMFECO</strong></p>
<p><strong>Angular 8</strong></p>
<p><strong>Pol&iacute;tica de privacidad y condiciones de uso</strong></p>
  </div>

<p>Es inter&eacute;s de COMFECO la privacidad de la informaci&oacute;n personal del usuario por lo cual establece:</p>
<p>El Usuario reconoce que el ingreso de informaci&oacute;n personal, la realiza de manera voluntaria y ante la solicitud de requerimientos para la prestaci&oacute;n u ofrecimiento de servicios o productos espec&iacute;ficos por COMFECO.</p>
<p>El Usuario acepta que a trav&eacute;s del registro en el sitio web y/o correo electr&oacute;nico, COMFECO recoge sus datos personales.</p>
<p>Esta autorizaci&oacute;n permitir&aacute; a COMFECO, recolectar, transferir, almacenar, usar, circular, suprimir, compartir, actualizar y transmitir, de acuerdo con el procedimiento para el tratamiento de los datos personales en procura de cumplir con las siguientes finalidades:</p>
<ol>
<li>Los datos personales recibir&aacute;n tratamiento para lograr una eficiente comunicaci&oacute;n relacionada con nuestros planes, concursos, proyectos, notificaciones y dem&aacute;s informaci&oacute;n de COMFECO</li>
<li>Los datos personales ser&aacute;n utilizados para adelantar estudios y an&aacute;lisis estad&iacute;sticos.</li>
<li>Los datos personales ser&aacute;n la v&iacute;a de contacto para que COMFECO evalu&eacute; la calidad del servicio y aplicaci&oacute;n de encuestas de satisfacci&oacute;n.</li>
<li>A su vez se solicita a los titulares de los datos, que estos deber&aacute;n ser exactos, para tener una base de datos limpia.</li>
</ol>



    <p>Copyright © 2021 Freelancer Technology Pty Limited (ACN 141 959 042)</p>

</div>
